<div class="ts-footer">
  <div class="ts-footer__brand">
    <img src="{{ '/assets/brand/mark-yellow.svg' | relative_url }}" alt="" width="22" height="31">
    <div>
      <strong>Tanagra Space</strong>
      <span>Machine learning for autonomous space operations.</span>
    </div>
  </div>
  <ul class="ts-footer__links">
    {%- for link in site.data.navigation.main -%}
      <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
    {%- endfor -%}
    {%- for link in site.footer.links -%}
      {%- if link.label and link.url -%}
        <li><a href="{{ link.url }}" rel="noopener"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
<div class="ts-footer__legal">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. All rights reserved.</div>
